* {
  line-height: 1.7em;
  font-family: sans-serif;
  font-size: 14px;
}

#controller {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;

  background: black;
  color: white;

  border-radius: 6px;
  padding: 4px;
  margin: 10px 10px 10px 15px;

  cursor: default;
  z-index: 999999999;
  overflow: auto;
  scrollbar-color: #21f32f;
}
#controller:hover {
  opacity: 0.7;
}

[data-action='drag'] {
  cursor: grab;
}
[data-action='drag']:active {
  cursor: grabbing;
}
#controller.dragging {
  cursor: grabbing;
  opacity: 0.7;
}

#speedDropdown,
#speedList {
  flex-direction: column;
  align-content: flex-start;
  gap: 2px;
}
#speedList {
  display: flex;
}

#speedSetNames {
  display: flex;
  margin-top: 3px;
}
#speedSetChosen {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

/* display/hide */
#controls,
.hoverShow,
#speedDropdown,
#speedList button {
  display: none;
}
:host(:hover) #controls,
/* :host(:hover) #speedDropdown, */
#controller.dragging #controls,
#controller:hover .hoverShow,
#speedList button.show {
  display: inline;
}
#controller:hover #speedDropdown.show {
  display: flex;
}


button {
  opacity: 1;
  cursor: pointer;
  color: black;
  background: white;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 21px;
  font-weight: bold;

  border-radius: 5px;
  padding: 5px 5px 3px 5px;
  line-height: 16px;
  border: 0px solid white;
  margin: 0px .3px 2px .3px;
  transition: background 0.2s, color 0.2s;
}
button:focus {
  outline: 0;
}
button:hover {
  opacity: 1;
  background: #2196f3;
  color: #ffffff;
}
button:active {
  background: #2196f3;
  color: #ffffff;
  /* font-weight: bold; */
}
button.rw {
  opacity: 0.75;
}
button.hideButton {
  opacity: 0.75;
  margin-right: 2px;
}
#speedList > button {
  min-width: 5.7em;
  padding: 0 0.3em;
  line-height: 15px;
  margin: 2px 0;
}
[data-action='listspeeds'].on {
  opacity: 1;
  cursor: default;
  color: black;
  background: #21f32f;
}

#speedDisplay {
  margin: 0 1px 1px 1px;
}
b[data-action="drag"] {
  opacity: 1;
  cursor: pointer;
  color: black;
  background: white;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 19px;
  font-weight: bold;

  border-radius: 5px;
  padding: 1px 5px 0 5px;
  line-height: 16px;
  border: 0px solid white;
  margin: 2px;
  transition: background 0.2s, color 0.2s;
}


@keyframes highlightBg {
  0% {
    background: #0000
  }
  22% {
    background: #21f32f99
  }
  to {
    background: #0000
  }
}
.highlight {
  animation: highlightBg 0.55s ease-out;
}
