* {
  line-height: 1.7em;
  font-family: sans-serif;
  font-size: 16px;
}

#controller {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;

  padding: 4px;
  margin: 10px 10px 10px 15px;
  border-radius: 6px;

  background: black;
  color: white;

  cursor: default;
  z-index: 999999999;
  overflow: auto;
  scrollbar-color: #21f32f;
}
#controller:hover {
  min-width: 156px;
  opacity: 0.7;
}
[data-action='drag'] {
  cursor: grab;
}
[data-action='drag']:active {
  cursor: grabbing;
}
#controller.dragging {
  cursor: grabbing;
  opacity: 0.7;
}

#quick,
#config {
  gap: 4px;
}
#config b {
  flex-grow: 1;
  align-items: center;
}

#speedSetNames {
  display: flex;
  margin-top: 1px;
}
#speedSetChosen {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

#speedDropdown,
#speedList {
  flex-direction: column;
  align-content: flex-start;
  gap: 2px;
}
#speedList {
  display: flex;
}

/* display/hide */
/* .hoverShow,
#controls,
#quick,
#config,
#speedDropdown,
#speedList button {
  display: none;
} */
.hoverShow{display:none}
#controls{display:none}
#quick{display:none}
#config{display:none}
#speedDropdown{display:none}
#speedList button {
  display: none;
}
:host(:hover) #controls,
#controller.dragging #controls.show,
#controller:hover .hoverShow,
#speedList button.show {
  display: inline;
}
:host(:hover) #config.show,
:host(:hover) #controls #quick.show,
#controller:hover #speedDropdown.show {
  display: flex;
  margin-bottom: 3px;;
}


button {
  opacity: 0.8;
  cursor: pointer;
  color: black;
  background: white;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 21px;
  font-weight: bold;

  border-radius: 5px;
  padding: 2px 5px 5px 5px;
  line-height: 16px;
  border: 0px solid white;
  /* margin: 0px .3px 4px .3px; */
  transition: background 0.2s, color 0.2s;
}
button:focus {
  outline: 0;
}
button:hover {
  opacity: 1;
  background: #2196f3;
  color: #ffffff;
}
button:active {
  background: #2196f3;
  color: #ffffff;
  font-weight: bold;
}
button.rw {
  opacity: 0.7;
}
button.hideButton {
  opacity: 0.7;
  /* margin-right: 2px; */
}
#speedList > button {
  /* min-width: 5.7em; */
  font-size: 19px;
  padding: 0;
}
[data-action='openMenu'] {
  opacity: 0.7;
}
button.on {
  opacity: 1;
  color: black;
  background: #21f32f;
}
button:disabled,
button.on:disabled {
  cursor: default;
  background-color: dimgrey;
  color: linen;
  opacity: 0.7;
}

#textDisplay {
  margin: 0 1px 1px 1px;
}
#textDisplay b.info {
  opacity: 1;
  color: black !important;
  background: white !important;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* font-size: 19px; */
  font-weight: bold;

  border-radius: 5px;
  padding: 1px 5px 0 5px;
  line-height: 16px;
  margin: 2px;
  transition: background 0.2s, color 0.2s;
}

@keyframes highlightBg {
  0% {
    background: #0000
  }
  22% {
    background: #21f32f99
  }
  to {
    background: #0000
  }
}
.highlight {
  animation: highlightBg 0.55s ease-out;
}
